<app-toolbar title="100 Angular Challange">
  <ul>
    <li>Components</li>
    <li>Directives</li>
    <li>Services</li>
    <li>Pipes</li>
    <li>Others</li>
  </ul>
</app-toolbar>
<main>
  <app-card iconClasses="fas fa-info-circle" title="Accordian" subTitle="Components">
    <p body>
      <app-accordion [items]="accordianItems">
      </app-accordion>
    </p>
  </app-card>
  <app-card iconClasses="fas fa-info-circle" title="Card" subTitle="Components">
    <p body>Body Content</p>
    <p footer>Footer Content</p>
  </app-card>
</main>
